.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    height: 100vh;
    justify-content: center;
    grid-template-areas:
        "side side side main main main main main main main main main";
}


.side {
    grid-area: side;
    padding: 20px;
    padding: 10px;
}

.main-view {
    grid-area: main;
    padding: 10px;
}