.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    justify-content: center;
    grid-template-areas:
        "side side main-view main-view main-view main-view main-view main-view main-view main-view";
}


.side {
    grid-area: side;
    padding: 5px;
    grid-column: 1;
}

.main-view {
    grid-area: main-view;
    padding: 5px;
}